* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 25px calc((100vw - 960px) / 2);
}

.ball {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: chartreuse;
}

.ball-wrapper {
    display: flex;
}
